.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: calc(100vh - 20rem);
}

.my-contact-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.15);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 50rem;
    backdrop-filter: drop-shadow(0px 0px 10px #000000);
}

.contact-list{
  list-style: none;
  padding: 0;
}

.contact-item{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-logo{
  max-width: 2rem;
}

.my-contact{
    font-size: large;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.form-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.15);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  filter: drop-shadow(0px 0px 10px #000000);
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-input {
  font-size: 20px;
}

.message-input {
  height: 5rem;
  width: 20rem;
  max-height: 100%;
  max-width: 100%;
  min-height: 2rem;
  min-width: 10rem;
  font-size: 20px;
}

.button-container {
  margin-top: 2rem;
}

.contact-warning{
  color: rgb(230, 75, 75);
}


@media screen and (max-width: 706px ) {
  .form-container{
    flex-direction: column;
    gap: 1.5rem;
  }
  .contact-information{
    gap: 1rem;
  }
}

@media screen and (max-width: 507px) {
  .contact-item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-contact{
    max-width: 20rem;
  }
}