@keyframes bouncyFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.visible {
  opacity: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: calc(100vh - 20rem);
  opacity: 0;
  animation: bouncyFadeIn 1s ease forwards;
}

.my-contact-container{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    width: 37.5rem;
    height: auto;
    box-shadow: 0 5px 10px 0px rgb(0, 0, 0, .5);
}

.contact-list{
  list-style: none;
  padding: 0;
}

.contact-item{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-logo{
  max-width: 2rem;
}

.my-contact{
    font-size: large;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.form-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
  width: 37.5rem;
  height: auto;
  box-shadow: 0 5px 10px 0px rgb(0, 0, 0, .5);
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-input {
  font-size: 16px;
  padding: 10px;
  border-style: none;
  border-bottom-style: solid;
  background-color: #242424;
  font-family: Arial, Helvetica, sans-serif;
}

.message-input {
  height: 9rem;
  width: 20rem;
  max-height: 100%;
  max-width: 100%;
  min-height: 2rem;
  font-size: 16px;
  padding: 10px;
  border-style: none;
  border-bottom-style: solid;
  background-color: #242424;
  font-family: Arial, Helvetica, sans-serif;
}

.button-container {
  margin-top: 2rem;
}

.contact-warning{
  color: rgb(230, 75, 75);
}


@media screen and (max-width: 706px ) {
  .my-contact-container{
    width: 21.5rem;
  }
  .form-container{
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 21.5rem;

  }
  .contact-input{
    width: 148.5%;
  }
  .contact-information{
    gap: 1rem;
  }
}

@media screen and (max-width: 507px) {
  .contact-item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-contact{
    max-width: 20rem;
  }
}