.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-icon {
    max-height: 50px;
  }
  
  .footer-icon:hover {
    /* fill: #0f0f0f54; */
    max-height: 60px;
    transition: 0.3s;
  }
.footer-message {

}